#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/7a4af197-60b7-4ffc-bdbb-93fd6b4bbc2b/ # 
title: flights 

version: v1
/flights:
   get:
     queryParameters:
       destination:
         required: true
         enum: [SFO,LAX,USA]
     responses:
       200:
         body:
           application/json:
             example:
               [{"ID":1,
             "code": "ER3sd",
              "price": 400,
"departureDare": "2016/03/20",
 "origin": "MUA",
"destination": "SFO",
"emptySeats": 0,
 "plane": {"type": "Boeing 737", "totalSeats": 150}},
{"ID":2,
"code": "ER45if",
"price": 345.99,
"departureDate": "2016/02/11",
 "origin": "MUA",
"destination": "LAX",
"emptySeats": 53, 
 "plane": {"type": "Boeing 777", "totalSeats": 300}}]
   post:
    displayName: Add the Flight
    body:
      application/json:
        example:
          {"code": "ER3sd",
              "price": 400,
"departureDate": "2016/03/20",
 "origin": "MUA",
"destination": "SFO",
"emptySeats": 0,
 "plane": {"type": "Boeing 737", "totalSeats": 150}}
    responses:
      201:
        body:
          application/json:
            example:
              {"Message": "Flights added (but not really)"}
/{id}:
  get:
    responses:
      200:
        body:
          application/json:
            example:
              [{"ID": 1,
              "code": "ER3sd",
              "price": 400,
"departureDate": "2016/03/20",
 "origin": "MUA",
"destination": "SFO",
"emptySeats": 0,
 "plane": {"type": "Boeing 737", "totalSeats": 150}}]
            